<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.app.official.support.location.LocationMapper">

    <select id="selectLocationInfo" resultType="com.main.app.official.support.location.dto.LocationDto">
        SELECT
            '다사랑교회 오시는 길' AS title,
            '교회 위치와 교통 안내를 확인하세요.' AS subtitle,
            '경기도 오산시 오산로 132번길 28-19' AS address,
            '031-373-2071' AS phone,
            '매일 09:00~18:00' AS hours,
            '대중교통 및 주차 안내에 대한 세부문의는 전화번호를 확인바랍니다.' AS notice,
            'https://map.naver.com/v5/search/%EA%B2%BD%EA%B8%B0%EB%8F%84%20%EC%98%A4%EC%82%B0%EC%8B%9C%20%EC%98%A4%EC%82%B0%EB%A1%9C%20132%EB%B2%88%EA%B8%B8%2028-19' AS naverMapUrl,
            'https://map.kakao.com/link/search/%EA%B2%BD%EA%B8%B0%EB%8F%84%20%EC%98%A4%EC%82%B0%EC%8B%9C%20%EC%98%A4%EC%82%B0%EB%A1%9C%20132%EB%B2%88%EA%B8%B8%2028-19' AS kakaoMapUrl,
            37.1382391818775 AS lat,
            127.072737195697 AS lng
    </select>

</mapper>
