<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-info">
                    <div class="logo">대전청소년위캔센터</div>
                    <div class="footer-details">
                        <p>주소 : 대전 청소년위캔원 We CaN 센터 | 사업자등록 : 131-82-17285 | 대표자 : 송경태</p>
                        <p>전화 : 042-822-0000 | 팩스 : 042-822-0000 | 홈페이지 : http://wecan.or.kr</p>
                        <p>출판신고번호 : 제2021-대전중구-00458호 | 발행인 : 송경태 | 편집인 : 청소년상담복지개발원</p>
                        <p>전화 : 042-822-0004-5 | 팩스 : 042-222-0040 | E-mail : djywecan@naver.com</p>
                    </div>
                </div>
                <div class="footer-social">
                    <a href="#" class="facebook" title="Facebook">
                        <span>f</span>
                    </a>
                    <a href="#" class="youtube" title="YouTube">
                        <span>▶</span>
                    </a>
                    <a href="#" class="blog" title="Blog">
                        <span>B</span>
                    </a>
                </div>
            </div>
            <div class="footer-bottom">
                Copyright by Daejeon Youth WE CAN CENTER. All rights reserved.
            </div>
        </div>
    </footer>
</body>
</html>