<!-- ====== Footer Start (Materialize) ====== -->
<footer th:fragment="footer" class="page-footer blue lighten-1">
  <div class="container">
    <div class="row">
      <!-- 로고 및 소개 -->
      <div class="col s12 m6 l3">
        <a href="index.html" class="brand-logo" style="display:block;margin-bottom:10px;">
          <img th:src="@{/images/logo/logo.svg}" alt="logo" style="height:40px;">
        </a>
        <p class="white-text" style="font-size:15px;">
          We create digital experiences for brands and companies by using technology.
        </p>
        <div>
          <a href="https://twitter.com/MusharofChy" class="white-text" style="margin-right:8px;"><i class="material-icons">facebook</i></a>
          <a href="https://twitter.com/MusharofChy" class="white-text" style="margin-right:8px;"><i class="material-icons">twitter</i></a>
          <a href="https://twitter.com/MusharofChy" class="white-text" style="margin-right:8px;"><i class="material-icons">instagram</i></a>
          <a href="https://twitter.com/MusharofChy" class="white-text"><i class="material-icons">linkedin</i></a>
        </div>
      </div>
      <!-- About Us -->
      <div class="col s12 m6 l2">
        <h6 class="white-text">About Us</h6>
        <ul>
          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">Features</a></li>
          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">About</a></li>
          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">Testimonial</a></li>
        </ul>
      </div>
      <!-- Features -->
      <div class="col s12 m6 l2">
        <h6 class="white-text">Features</h6>
        <ul>
          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">How it works</a></li>
          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">Privacy policy</a></li>
          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">Terms of service</a></li>
          <li><a class="grey-text text-lighten-3" href="javascript:void(0)">Refund policy</a></li>
        </ul>
      </div>
      <!-- Our Products -->
      <div class="col s12 m6 l2">
        <h6 class="white-text">Our Products</h6>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://lineicons.com/" target="_blank">Lineicons</a></li>
          <li><a class="grey-text text-lighten-3" href="https://ecommercehtml.com/" target="_blank">Ecommerce HTML</a></li>
          <li><a class="grey-text text-lighten-3" href="https://ayroui.com/" target="_blank">Ayro UI</a></li>
          <li><a class="grey-text text-lighten-3" href="https://graygrids.com/" target="_blank">Plain Admin</a></li>
        </ul>
      </div>
      <!-- Partners -->
      <div class="col s12 m12 l3">
        <h6 class="white-text">Partners</h6>
        <div class="row">
          <div class="col s4 m4 l4" style="margin-bottom:8px;">
            <a href="https://ayroui.com/" target="_blank">
              <img th:src="@{/images/footer/brands/ayroui.svg}" alt="ayroui" class="responsive-img" style="max-height:32px;">
            </a>
          </div>
          <div class="col s4 m4 l4" style="margin-bottom:8px;">
            <a href="https://ecommercehtml.com/" target="_blank">
              <img th:src="@{/images/footer/brands/ecommerce-html.svg}" alt="ecommerce-html" class="responsive-img" style="max-height:32px;">
            </a>
          </div>
          <div class="col s4 m4 l4" style="margin-bottom:8px;">
            <a href="https://graygrids.com/" target="_blank">
              <img th:src="@{/images/footer/brands/graygrids.svg}" alt="graygrids" class="responsive-img" style="max-height:32px;">
            </a>
          </div>
          <div class="col s4 m4 l4" style="margin-bottom:8px;">
            <a href="https://lineicons.com/" target="_blank">
              <img th:src="@{/images/footer/brands/lineicons.svg}" alt="lineicons" class="responsive-img" style="max-height:32px;">
            </a>
          </div>
          <div class="col s4 m4 l4" style="margin-bottom:8px;">
            <a href="https://uideck.com/" target="_blank">
              <img th:src="@{/images/footer/brands/uideck.svg}" alt="uideck" class="responsive-img" style="max-height:32px;">
            </a>
          </div>
          <div class="col s4 m4 l4" style="margin-bottom:8px;">
            <a href="https://tailwindtemplates.co/" target="_blank">
              <img th:src="@{/images/footer/brands/tailwindtemplates.svg}" alt="tailwindtemplates" class="responsive-img" style="max-height:32px;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue darken-2">
    <div class="container">
      <div class="row" style="margin-bottom:0;">
        <div class="col s12 m8">
          <a href="javascript:void(0)" class="grey-text text-lighten-3" style="margin-right:16px;">Privacy policy</a>
          <a href="javascript:void(0)" class="grey-text text-lighten-3" style="margin-right:16px;">Support policy</a>
          <a href="javascript:void(0)" class="grey-text text-lighten-3">Terms of service</a>
        </div>
        <div class="col s12 m4 right-align">
          <span class="grey-text text-lighten-3">
            Designed and Developed by
            <a href="https://uideck.com" rel="nofollow" class="grey-text text-lighten-4">UIdeck</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ====== Footer End (Materialize) ====== -->