<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.app.official.worship.sermons.SermonMapper">

    <select id="selectBoardList" parameterType="map" resultType="com.main.app.official.worship.sermons.dto.SermonDto">
        SELECT A.rqst_no
             , A.title
             , A.cont
             , A.rqst_id
             , A.ins_dt
             , A.views
             , A.depth
             , A.group_no
             , A.secret
             , A.board_type
             , (SELECT COUNT(*) FROM file_table WHERE board_no = A.rqst_no) > 0 AS hasFile
             , (SELECT COALESCE(SUM(file_size), 0) FROM file_table WHERE board_no = A.rqst_no) AS totalFileSize
             , (SELECT COUNT(*) FROM comment WHERE board_no = A.rqst_no AND (parent_comment_id IS NULL OR parent_comment_id = 0)) AS commentCount
          FROM board A
          JOIN board B ON A.group_no = B.rqst_no
         WHERE 1=1
         <if test="boardType != null and boardType != ''">
             AND A.board_type = #{boardType}
         </if>
        <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'title'">
                    AND A.title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'content' or searchType == 'cont'">
                    AND A.cont LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'author' or searchType == 'rqstId'">
                    AND A.rqst_id LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (A.title LIKE CONCAT('%', #{keyword}, '%')
                        OR A.cont LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
        ORDER BY B.ins_dt DESC, A.order_no ASC, A.ins_dt ASC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countBoardList" parameterType="map" resultType="long">
        SELECT COUNT(*)
        FROM board A
        JOIN board B ON A.group_no = B.rqst_no
        WHERE 1=1
        <if test="boardType != null and boardType != ''">
            AND A.board_type = #{boardType}
        </if>
        <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'title'">
                    AND A.title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'content' or searchType == 'cont'">
                    AND A.cont LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'author' or searchType == 'rqstId'">
                    AND A.rqst_id LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (A.title LIKE CONCAT('%', #{keyword}, '%')
                        OR A.cont LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="selectBoardDetail" parameterType="map" resultType="com.main.app.official.worship.sermons.dto.SermonDto">
        SELECT A.rqst_no   AS rqstNo
             , A.title     AS title
             , A.cont      AS cont
             , A.rqst_id   AS rqstId
             , A.ins_dt    AS insDt
             , A.upt_dt    AS uptDt
             , A.views     AS views
             , A.group_no  AS groupNo
             , A.parent_no AS parentNo
             , A.depth     AS depth
             , A.order_no  AS orderNo
             , A.secret    AS secret
             , A.password  AS password
             , A.board_type AS boardType
             , (SELECT COUNT(*) FROM file_table WHERE board_no = A.rqst_no) > 0 AS hasFile
          FROM board A
         WHERE A.rqst_no = #{rqstNo}
           <if test="boardType != null and boardType != ''">
               AND A.board_type = #{boardType}
           </if>
    </select>

    <update id="updateReadCount" parameterType="map">
        UPDATE board
           SET views = COALESCE(views, 0) + 1
         WHERE rqst_no = #{rqstNo}
           <if test="boardType != null and boardType != ''">
               AND board_type = #{boardType}
           </if>
    </update>

    <insert id="insertBoard" parameterType="com.main.app.official.worship.sermons.dto.SermonRequest">
        INSERT INTO board (rqst_no, title, cont, rqst_id, ins_dt, upt_dt, views, group_no, parent_no, depth, order_no, secret, password, board_type)
        SELECT #{rqstNo}
             , #{title}
             , #{cont}
             , #{rqstId}
             , NOW()
             , NOW()
             , 0
             , COALESCE(NULLIF(#{groupNo}, ''), P.group_no, #{rqstNo})
             , #{parentNo}
             , COALESCE(#{depth}, COALESCE(P.depth, -1) + 1)
             , #{orderNo}
             , COALESCE(#{secret}, 'N')
             , #{password}
             , 'SERMONS'
          FROM (SELECT 1) AS dummy
          LEFT JOIN board P ON P.rqst_no = #{parentNo}
    </insert>

    <update id="updateBoard" parameterType="com.main.app.official.worship.sermons.dto.SermonRequest">
        UPDATE board
           SET title = #{title}
             , cont = #{cont}
             , secret = COALESCE(#{secret}, 'N')
             , password = #{password}
             , upt_dt = NOW()
         WHERE rqst_no = #{rqstNo}
    </update>

    <update id="updateReplyOrder" parameterType="map">
        UPDATE board
           SET order_no = order_no + 1
         WHERE group_no = #{groupNo}
           AND order_no > #{orderNo}
    </update>

    <delete id="deleteComments" parameterType="string">
        DELETE FROM comment WHERE board_no = #{boardNo}
    </delete>

    <delete id="deleteFiles" parameterType="string">
        DELETE FROM file_table WHERE board_no = #{boardNo}
    </delete>

    <delete id="deleteBoard" parameterType="string">
        DELETE FROM board WHERE rqst_no = #{id}
    </delete>

    <insert id="insertFile" parameterType="com.main.app.common.dto.FileDto">
        INSERT INTO file_table (board_no, org_file_nm, stored_file_nm, file_size, file_path, ins_dt)
        VALUES (#{boardNo}, #{orgFileNm}, #{storedFileNm}, #{fileSize}, #{filePath}, NOW())
    </insert>

    <select id="selectFile" parameterType="long" resultType="com.main.app.common.dto.FileDto">
        SELECT file_id AS fileId
             , board_no AS boardNo
             , org_file_nm AS orgFileNm
             , stored_file_nm AS storedFileNm
             , COALESCE(file_size, 0) AS fileSize
             , file_path AS filePath
             , ins_dt AS insDt
          FROM file_table
         WHERE file_id = #{fileId}
    </select>

    <select id="selectFileList" parameterType="string" resultType="com.main.app.common.dto.FileDto">
        SELECT file_id AS fileId
             , board_no AS boardNo
             , org_file_nm AS orgFileNm
             , stored_file_nm AS storedFileNm
             , COALESCE(file_size, 0) AS fileSize
             , file_path AS filePath
             , ins_dt AS insDt
          FROM file_table
         WHERE board_no = #{boardNo}
    </select>

    <resultMap id="commentResultMap" type="com.main.app.common.dto.CommentDto">
        <id property="commentId" column="comment_id"/>
        <result property="boardNo" column="board_no"/>
        <result property="writer" column="writer"/>
        <result property="content" column="content"/>
        <result property="insDt" column="ins_dt"/>
        <result property="likes" column="likes"/>
        <result property="dislikes" column="dislikes"/>
        <result property="parentCommentId" column="parent_comment_id"/>
        <result property="secret" column="secret"/>
        <result property="password" column="password"/>
        <result property="spoiler" column="spoiler"/>
        <collection property="replies" column="comment_id" javaType="java.util.List" ofType="com.main.app.common.dto.CommentDto" select="selectReplies"/>
    </resultMap>

    <select id="selectCommentList" parameterType="string" resultMap="commentResultMap">
        SELECT comment_id, board_no, writer, content, ins_dt, likes, dislikes, parent_comment_id, secret, password, spoiler
          FROM comment
         WHERE board_no = #{boardNo}
           AND (parent_comment_id IS NULL OR parent_comment_id = 0)
         ORDER BY ins_dt ASC
    </select>

    <select id="selectReplies" parameterType="long" resultMap="commentResultMap">
        SELECT comment_id, board_no, writer, content, ins_dt, likes, dislikes, parent_comment_id, secret, password, spoiler
          FROM comment
         WHERE parent_comment_id = #{commentId}
         ORDER BY ins_dt ASC
    </select>

    <insert id="insertComment" parameterType="com.main.app.common.dto.CommentDto">
        INSERT INTO comment (board_no, writer, content, ins_dt, likes, dislikes, parent_comment_id, secret, password, spoiler)
        VALUES (#{boardNo}, #{writer}, #{content}, NOW(), 0, 0, #{parentCommentId}, COALESCE(#{secret}, 'N'), #{password}, COALESCE(#{spoiler}, 'N'))
    </insert>

    <update id="increaseLike" parameterType="int">
        UPDATE comment
           SET likes = likes + 1
         WHERE comment_id = #{commentId}
    </update>

    <update id="decreaseLike" parameterType="int">
        UPDATE comment
           SET likes = likes - 1
         WHERE comment_id = #{commentId}
    </update>

    <update id="increaseDislike" parameterType="int">
        UPDATE comment
           SET dislikes = dislikes + 1
         WHERE comment_id = #{commentId}
    </update>

    <update id="decreaseDislike" parameterType="int">
        UPDATE comment
           SET dislikes = dislikes - 1
         WHERE comment_id = #{commentId}
    </update>

    <select id="selectCommentById" parameterType="int" resultMap="commentResultMap">
        SELECT * FROM comment WHERE comment_id = #{commentId}
    </select>

</mapper>
