<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.app.official.worship.time.TimeMapper">

    <select id="selectTimeItems" resultType="com.main.app.official.worship.time.dto.TimeDto">
        SELECT '새벽예배' AS category,
               '새벽기도회' AS title,
               '매일 오전 5시' AS time,
               '하루를 말씀으로 시작합니다.' AS note,
               '예배홀' AS location,
               1 AS orderNo
        UNION ALL
        SELECT '주일예배' AS category,
               '주일학교예배' AS title,
               '주일 오전 9시' AS time,
               '미래 세대를 위한 예배입니다.' AS note,
               '예배홀' AS location,
               2 AS orderNo
        UNION ALL
        SELECT '주일예배' AS category,
               '주일오전 축제예배' AS title,
               '주일 오전 11시' AS time,
               '온 성도가 함께 드리는 예배입니다.' AS note,
               '예배홀' AS location,
               3 AS orderNo
        UNION ALL
        SELECT '주일예배' AS category,
               '중고등부예배' AS title,
               '주일 오후 2시' AS time,
               '미래 세대를 위한 예배입니다.' AS note,
               '예배홀' AS location,
               4 AS orderNo
        UNION ALL
        SELECT '주일예배' AS category,
               '주일저녁 찬양예배' AS title,
               '주일 오후 7시' AS time,
               '온 성도가 찬양으로 함께 드리는 예배입니다.' AS note,
               '예배홀' AS location,
               5 AS orderNo
        UNION ALL
        SELECT '월요예배' AS category,
               '월요도고기도회' AS title,
               '월요일 오전 11시' AS time,
               '중보기도회 입니다.' AS note,
               '예배홀' AS location,
               6 AS orderNo
        UNION ALL
        SELECT '수요예배' AS category,
               '수요예배' AS title,
               '수요일 오후 7시 30분' AS time,
               '온 성도가 함께 드리는 예배입니다.' AS note,
               '예배홀' AS location,
               7 AS orderNo
        UNION ALL
        SELECT '금요예배' AS category,
               '금요심야기도회' AS title,
               '금요일 오후 9시 30분' AS time,
               '금요일을 마무리하는 예배입니다.' AS note,
               '예배홀' AS location,
               8 AS orderNo
        UNION ALL
        SELECT '성도모임' AS category,
               '행복모임' AS title,
               '정한시간' AS time,
               '성도들이 함께 모이는 예배입니다.' AS note,
               '정한장소' AS location,
               9 AS orderNo
        UNION ALL
        SELECT '성도모임' AS category,
               '셀가족예배' AS title,
               '정한시간' AS time,
               '성도들이 함께 모이는 예배입니다.' AS note,
               '정한장소' AS location,
               10 AS orderNo
        ORDER BY orderNo
    </select>

</mapper>
