<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.app.mypage.user.inquiry.InquiryMapper">

    <select id="selectInquiryList" resultType="com.main.app.mypage.user.inquiry.dto.InquiryPostDto">
        SELECT rqst_no AS rqstNo,
               title,
               board_type AS boardType,
               ins_dt AS insDt,
               views
          FROM board
         WHERE rqst_id = #{userId}
           AND board_type IN
        <foreach collection="boardTypes" item="boardType" open="(" separator="," close=")">
            #{boardType}
        </foreach>
         ORDER BY ins_dt DESC
         LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countInquiryList" resultType="long">
        SELECT COUNT(*)
          FROM board
         WHERE rqst_id = #{userId}
           AND board_type IN
        <foreach collection="boardTypes" item="boardType" open="(" separator="," close=")">
            #{boardType}
        </foreach>
    </select>

</mapper>
