<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.app.official.support.faq.FaqMapper">

    <select id="selectFaqItems" resultType="com.main.app.official.support.faq.dto.FaqDto">
        SELECT
            faq_id AS faqId,
            question,
            answer,
            order_no AS orderNo
        FROM official_support_faq
        WHERE is_deleted = FALSE
        ORDER BY order_no ASC, faq_id ASC
    </select>

</mapper>