<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head><meta charset="UTF-8"><title>유지보수이력</title><th:block layout:fragment="css"><link rel="stylesheet" th:href="@{/css/erp.css}"></th:block></head>
<body><div layout:fragment="content"><section class="erp-dashboard-wrap"><div class="container"><section class="erp-card"><div class="erp-card-head"><h2>유지보수이력</h2></div><div class="erp-simple-list"><p>준비중 화면입니다.</p><p>경로: /facility/maintenance</p></div></section></div></section></div></body>
</html>
