<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.app.mypage.user.MypageUserMapper">

    <select id="selectActivityList" resultType="com.main.app.mypage.user.dto.MypageUserPostDto">
        SELECT rqst_no AS rqstNo,
               title,
               board_type AS boardType,
               ins_dt AS insDt,
               views
          FROM board
         WHERE rqst_id = #{userId}
         ORDER BY ins_dt DESC
         LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countActivityList" resultType="long">
        SELECT COUNT(*)
          FROM board
         WHERE rqst_id = #{userId}
    </select>

    <select id="selectInquiryList" resultType="com.main.app.mypage.user.dto.MypageUserPostDto">
        SELECT rqst_no AS rqstNo,
               title,
               board_type AS boardType,
               ins_dt AS insDt,
               views
          FROM board
         WHERE rqst_id = #{userId}
           AND board_type IN
           <foreach collection="boardTypes" item="boardType" open="(" separator="," close=")">
               #{boardType}
           </foreach>
         ORDER BY ins_dt DESC
         LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countInquiryList" resultType="long">
        SELECT COUNT(*)
          FROM board
         WHERE rqst_id = #{userId}
           AND board_type IN
           <foreach collection="boardTypes" item="boardType" open="(" separator="," close=")">
               #{boardType}
           </foreach>
    </select>

    <select id="selectCommentList" resultType="com.main.app.mypage.user.dto.MypageUserCommentDto">
      SELECT c.comment_id AS commentId,
           c.board_no AS boardNo,
           b.title AS boardTitle,
           c.content,
           c.ins_dt AS insDt,
           c.likes,
           c.dislikes
        FROM comment c
        LEFT JOIN board b ON b.rqst_no = c.board_no
       WHERE c.writer = #{userId}
       ORDER BY c.ins_dt DESC
       LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countCommentList" resultType="long">
      SELECT COUNT(*)
        FROM comment
       WHERE writer = #{userId}
    </select>

</mapper>
