<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.app.mapper.MainMapper">
    <select id="getMenuList" resultType="map">
        SELECT menu_id    AS "MENU_ID"
              ,menu_nm    AS "MENU_NM"
              ,up_menu_id AS "UP_MENU_ID"
              ,level      AS "LEVEL"
              ,path       AS "PATH"
          FROM sys_menu_mgt
         WHERE up_menu_id LIKE 'M_MAIN%'
         ORDER BY level, order_no
    </select>

    <select id="getList1" resultType="map">
        SELECT TITLE AS "title",
               DATE  AS "date"
          FROM NEWS
    </select>

    <select id="getList2" resultType="map">
        SELECT TITLE AS "title",
               DATE  AS "date"
          FROM INQUIRYLIST
    </select>

</mapper>
