<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.app.mapper.MenuMapper">
    <!-- 메뉴 조회 쿼리 개선: 정렬 조건을 더 명확하게 -->
    <select id="getMenuList" resultType="com.main.app.model.MenuDto">
        SELECT menu_id
              ,menu_nm AS menuName
              ,up_menu_id AS parentId
              ,level
              ,path
              ,order_no
          FROM sys_menu_mgt
         WHERE 1=1
           AND menu_id like 'M_MAIN%'
         ORDER BY level, order_no, menu_id
    </select>

    <!-- 특정 레벨의 메뉴만 조회하는 쿼리 추가 -->
    <select id="getMenuListByLevel" resultType="com.main.app.model.MenuDto" parameterType="int">
        SELECT menu_id
              ,menu_nm AS menuName
              ,up_menu_id AS parentId
              ,level
              ,path
              ,order_no
          FROM sys_menu_mgt
         WHERE level = #{level}
          --  AND use_yn = 'Y'
         ORDER BY order_no, menu_id
    </select>

    <!-- 특정 부모 메뉴의 하위 메뉴만 조회하는 쿼리 추가 -->
    <select id="getSubMenusByParentId" resultType="com.main.app.model.MenuDto" parameterType="string">
        SELECT menu_id
              ,menu_nm AS menuName
              ,up_menu_id AS parentId
              ,level
              ,path
              ,order_no
          FROM sys_menu_mgt
         WHERE up_menu_id = #{parentId}
          --  AND use_yn = 'Y'
         ORDER BY order_no, menu_id
    </select>

    <select id="getList1" resultType="map">
        SELECT TITLE AS "title",
               DATE  AS "date"
          FROM NEWS
    </select>

    <select id="getList2" resultType="map">
        SELECT TITLE AS "title",
               DATE  AS "date"
          FROM INQUIRYLIST
    </select>
</mapper>